
h1 {
    color: navy;
}

img {
    width: 400px;
}
      
#thirdDiv{
     
    width: 600px; 
    height: 500px;
    background-color: palegoldenrod;
    padding: 50px;
    border: 5px solid navy;
}

#spanId{
    font-size: 18px;
    margin: 50px;
}
       