
            #thirdDiv{
                width: 600px; height: 500px;
                color: navy;
                padding: 50px;
                border-style: dashed double none;;
            }
            #spanId{
                text-size-adjust: 18;
                margin:  50px;
            }
                